[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

max_line_length = 120

# always use spaces for indentation
indent_style = space
indent_size = 4

[*.md]
indent_size = 2

[*.{fs,fsx,fsi}]
fsharp_multiline_bracket_style = stroustrup
fsharp_max_if_then_else_short_width = 120
fsharp_max_infix_operator_expression = 120
fsharp_max_record_width = 120
fsharp_max_array_or_list_width = 120
fsharp_max_value_binding_width = 120
fsharp_max_function_binding_width = 120
fsharp_max_dot_get_expression_width = 120
fsharp_space_around_delimiter = false
fsharp_blank_lines_around_nested_multiline_expressions = false
fsharp_keep_max_number_of_blank_lines = 1
